
<div class="header-container">
    <button class="back-btn" (click)="homePage()">
        <img class="back-btn-icon" src="https://cdn-icons-png.flaticon.com/512/9312/9312240.png"
            alt="Back button icon"/>
    </button>

    <h1>
        Projects
    </h1>
</div>

<div class="form">

    <div class="boxes">

        <img class="lostInTranslation" src="https://i.ibb.co/SsY8w7g/lostintranslation2edit.png">
        <h3> Translation app </h3>
        <button class="lostInTranslation-button" (click)="lostInTranslationPage()">
            Learn more
        </button>

        <img class="pokemonApi" src="https://i.ibb.co/QCz5Vyk/pokemonapiedit.png">
        <h4> Pokemon Collector app </h4>
        <button class="pokemonApi-button" (click)="pokemonApiPage()">
            Learn more
        </button>


    </div>
        
</div>
