<div class="header-container">
    <button class="back-btn" (click)="projectsPage()">
        <img class="back-btn-icon" src="https://cdn-icons-png.flaticon.com/512/9312/9312240.png"
            alt="Back button icon"/>
    </button>

    <h1>
        Pokemon API
    </h1>
</div>

<div class="form">

        <!-- Pokemon API -->
        <img class="box2" src="https://i.ibb.co/p1xS5y1/pokemonapi.png">
        <img class="box2" src="https://i.ibb.co/wcMfjLv/pokemonapi2.png">
        <img class="box2" src="https://i.ibb.co/X4x5FD5/pokemonapi3.png">

</div>
