

.form {
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.847);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container{
    display: flex;
    padding: 10px;
    align-items: center;
}

.back-btn{
    background-color: #e3eaf400;
    border: none;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.back-btn-icon{
    width: 50px;
    cursor: pointer;
}

.back-btn:hover {
    transform: translateX(-10px);
}

h1 { 
    font-family:'Arial';
    color: #333333a4;
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
}

p{
    font-size: 20px;
}

.box1{
    width: 60%;
    padding: 10px;
    margin-left: 300px;
}

.box2{
    width: 60%;
    padding: 10px;
    margin-right: 200px;
}

.box3{
    padding: 10px;
    width: 75%;
}