<div class="header-container">
    <button class="back-btn" (click)="projectsPage()">
        <img class="back-btn-icon" src="https://cdn-icons-png.flaticon.com/512/9312/9312240.png"
            alt="Back button icon"/>
    </button>

    <h1>
        Pokemon API
    </h1>
</div>

<div class="form">

        <!-- Pokemon API -->
        <p> Pokemon API is an application where a user can catch pokemon and see their catched pokemon.  <br> With technologies such as <b>HTML</b>, <b>CSS</b>, <b>JavaScript</b>, <b>Angular</b> and <b>Node JS</b> </p>
        <img class="box2" src="https://i.ibb.co/wcMfjLv/pokemonapi2.png">
        <img class="box1" src="https://i.ibb.co/p1xS5y1/pokemonapi.png">
        <img class="box3" src="https://i.ibb.co/X4x5FD5/pokemonapi3.png">

</div>
