<div class="container">
    
        <h1> Emma Hogstrand </h1>
            <div class="form">

    
                <div class ="header-container">
                    <img class="emma-hogstrand-image" src="https://i.ibb.co/TbFBKct/portfolio-bild.jpg" alt="Emma Hogstrand" />
                    <h2>Full stack developer</h2>
                </div>

<div class="studies-container">
    <li>Bachelor of Science with a major in Informatics - specialization Systems Development</li>
    <li>Full stack development with .Net </li>
</div>


</div>
</div>