<div class="container">
    
        <h1> Emma Hogstrand </h1>
            <div class="form">

    
                <div class ="header-container">
                    <img class="emma-hogstrand-image" src="https://i.ibb.co/TbFBKct/portfolio-bild.jpg" alt="Emma Hogstrand" />
                    <h2>Full stack developer</h2>
                </div>

<div class="studies-container">
    <li>Bachelor of Science with a major in Informatics - specialization Systems Development</li>
    <li>Full stack development with .Net </li>
</div>

<div class="about-container">
    <p> Junior developer with <b>problem solving</b> and <b>project management</b> skills. Strong <b>creative</b> approach on design and take on solutions. <b>Intuitive</b> and keen in learning new skills to further broaden my development career</p>

</div>

    <div class="buttons-container">
        <button class="contact-button" (click)="contactPage()">
            Contact
        </button>

        <button class="project-button" (click)="projectsPage()">
            Projects
        </button>

    </div>
</div>
</div>