

<div class="header-container">
    <button class="back-btn" (click)="homePage()">
        <img class="back-btn-icon" src="https://cdn-icons-png.flaticon.com/512/9312/9312240.png"
            alt="Back button icon"/>
    </button>

    <h1>
        Contact me 
    </h1>
</div>

    <div class="container">
    
    <div class="form">

        <div class="links">
                
            
            <div class="link">
                <a href="mailto:emmahogstrand@gmail.com">
                    <img class="email" src="https://cdn-icons-png.flaticon.com/512/3178/3178165.png" alt="Email">
                </a>
                <h3> Email me</h3>
            </div>

            
            <div class="link">
                <a href="https://www.linkedin.com/in/emma-hogstrand-a5363b182/" target="_blank">
                    <img class="linkedIn" src="https://cdn-icons-png.flaticon.com/512/2582/2582575.png" alt="LinkedIn Profile">
                </a>
                <h3> Connect with me on LinkedIn</h3>
            </div>
            
            <div class="link">
                <a href="https://github.com/emmahogstrand" target="_blank">
                <img class="gitHub" src="https://cdn-icons-png.flaticon.com/512/1051/1051377.png" alt="GitHub Profile">
                </a>
                <h3> Check out my Github</h3>
            </div>
        
        </div>

</div>
</div>
  