<div class="header-container">
    <button class="back-btn" (click)="projectsPage()">
        <img class="back-btn-icon" src="https://cdn-icons-png.flaticon.com/512/9312/9312240.png"
            alt="Back button icon"/>
    </button>

    <h1>
            Memory Game
    </h1>
</div>

<div class="form">
       <!-- Memory Game -->       
       <p> Memory Game is a game I created using technologies such as <b>HTML</b>, <b>CSS</b>, <b>JavaScript</b>, <b>Angular</b> and <b>Node JS</b> </p>
       <img class="box1" src="https://i.ibb.co/jJpjWDm/memorygame.jpg">

       <p>Clone the repo <a href="https://github.com/emmahogstrand/memoryGame"><b>here</b></a></p>
</div>

