<div class="header-container">
    <button class="back-btn" (click)="projectsPage()">
        <img class="back-btn-icon" src="https://cdn-icons-png.flaticon.com/512/9312/9312240.png"
            alt="Back button icon"/>
    </button>

    <h1>
        Lost In Translation
    </h1>
</div>

<div class="form">
       <!-- Lost in translation -->
       <img class="box1" src="https://i.ibb.co/d7YFfDr/lostintranslation.png">
       <img class="box1" src="https://i.ibb.co/hcV0jDm/lostintranslation2.png">
</div>